<!DOCTYPE html>
<html>
<head>
    <title>Error 404 - Página no encontrada</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #242424; 
            color: #FFFFFF; 
            font-family: Arial, sans-serif; 
        }

        .error-image {
            width: 600px; 
            height: 400px; 
            image-rendering: pixelated; 
            border: 4px solid #000000; 
        }

        p {
            text-align: center;
            font-size: 16px;
            margin-top: 20px; 
        }
    </style>
</head>
<body>
    <h1>Error 404 - Página no encontrada</h1>
    <p>Lo sentimos, la página que estás buscando no se encontró.</p>
    <img class="error-image" src="/images/error.jpg" alt="Imagen de error">
</body>
</html>
