<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=a, initial-scale=1.0">
    <title>Word Cloud</title>
    <style>
        html, body {
            height: 100vh;
            width: 100vw;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .menu {
            background-color: #424874;
            color: #fff;
            padding: 20px;
            width: 200px; 
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh; 
            overflow-y: auto; 
        }

        .menu h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .menu ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        .menu li {
            padding: 10px;
            text-align: center;
        }

        .menu li a {
            color: #fff;
            text-decoration: none;
            display: block;
            padding: 5px;
        }

        .menu li a:hover {
            background-color: #A6B1E1;
            color: #424874;
            border-radius: 5px;
        }

        .contenido {
            margin-left: 220px; 
            padding: 20px;
        }

        ul.cloud {
            list-style: none;
            padding-left: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            line-height: 2.75rem;
            width: 450px;
        }

        ul.cloud a {
            --size: 4;
            --color: #a33;
            color: var(--color);
            font-size: calc(var(--size) * 0.25rem + 0.5rem);
            display: block;
            padding: 0.125rem 0.25rem;
            position: relative;
            text-decoration: none;
            opacity: calc((15 - (9 - var(--size))) / 15);
        }

        ul.cloud a[data-weight="1"] { --size: 1; }
        ul.cloud a[data-weight="2"] { --size: 2; }
        ul.cloud a[data-weight="3"] { --size: 3; }
        ul.cloud a[data-weight="4"] { --size: 4; }
        ul.cloud a[data-weight="5"] { --size: 6; }
        ul.cloud a[data-weight="6"] { --size: 8; }
        ul.cloud a[data-weight="7"] { --size: 10; }
        ul.cloud a[data-weight="8"] { --size: 13; }
        ul.cloud a[data-weight="9"] { --size: 16; }

        ul[data-show-value] a::after {
            content: " (" attr(data-weight) ")";
            font-size: 1rem;
        }

        ul.cloud li:nth-child(2n+1) a { --color:#8E3DE0; }
        ul.cloud li:nth-child(3n+1) a { --color: #465CE0; }
        ul.cloud li:nth-child(4n+1) a { --color: #E089C8; }

        ul.cloud a:focus {
            outline: 1px dashed;
        }

        ul.cloud a::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            width: 0;
            height: 100%;
            background: var(--color);
            transform: translate(-50%, 0);
            opacity: 0.15;
            transition: width 0.25s;
        }

        ul.cloud a:focus::before,
        ul.cloud a:hover::before {
            width: 100%;
        }

        @media (prefers-reduced-motion) {
            ul.cloud * {
                transition: none !important;
            }
        }
    </style>
</head>
<body>
<!--
<div class="menu">
    <h2>Menú</h2>
    <ul>
        <li><a href="../../../index.html">Inicio</a></li>
        <li><a href="../paginas/Y26230/index.html">Zuanny</a></li>
        <li><a href="../paginas/Y23715/index.html">Gabriela</a></li>
        <li><a href="../paginas/Y18433/index.html">Nicolás</a></li>
        <li><a href="../paginas/Y12954/index.html">Yenifer</a></li>
        <li><a href="./UG0045/index.html">Diego</a></li>
        <li><a href="../paginas/curso.html">Curso</a></li>
    </ul>
</div>
-->
{{> nav}}

<div class="contenido">
    <ul class="cloud" role="navigation" aria-label="Webdev tag cloud">
        <li><a data-weight="4" >Persistencia</a></li>
        <li><a data-weight="2" >Superación</a></li>
        <li><a data-weight="5" >Determinación</a></li>
        <li><a data-weight="8" >Confianza</a></li>
        <li><a data-weight="6" >Optimismo</a></li>
        <li><a data-weight="4" >Transformación</a></li>
        <li><a data-weight="5" >Motivación</a></li>
        <li><a data-weight="6" >Disciplina</a></li>
        <li><a data-weight="3" >Fortaleza</a></li>
        <li><a data-weight="9" >Iniciativa</a></li>
        <li><a data-weight="3" >Animation</a></li>
        <li><a data-weight="7" >Perseverancia</a></li>
        <li><a data-weight="8" >Progreso</a></li>
        <li><a data-weight="1" >Compromiso</a></li>
        <li><a data-weight="3" >Voluntad</a></li>
    </ul>
</div>

</body>
</html>